<!DOCTYPE html>
<html>
<head>
<%- include('partials/head') -%>
</head>
<body>

    <div class="container">
        <h2 class="header">Daily To-Do</h2>
        <h4 class="date">
            <% var d = new Date() %>
            <%= d.getMonth()+1; %>/<%= d.getDate(); %>/<%= d.getFullYear(); %>
        </h4>
        <div class="newTaskContainer">
            <input type="text" placeholder="Let's get to work" id="newToDo">
            <button id="addTask">Add To To-Do List</button>
        </div>
        <div class="toDoContainer">
            <ul id="list">
            </ul>
        </div>
    </div>
    <script type="text/javascript" src="/public/js/index.js"></script>
</body>

</html>